<div class="container">
	<div class="col-md-12">
        <h2 class="page-header"><small>{{ 'CERTIFICATION2' | translate }}</small></h2>
			<p>
				<h4>
				<ul>
					H Food Allergens Laboratory, αναζητώντας συνεχώς την ανάπτυξη νέων μεθόδων και τεχνογνωσίας στον τομέα Τροφίμων και ποτών, έχει ολοκληρώσει 6 ερευνητικά έργα τα τελευταία χρόνια σε συνεργασία με ερευνητικά ιδρύματα όπως, το Αττικό Νοσοκομείο, το ΜΑΙΧ, το ΓΠΑ, το ΓΧΚ Κύπρου, το Πανεπιστήμιο Λευκωσίας, το ΤΕΙ ΑΘΗΝΑΣ (τμ. Τεχν.Τροφ), τον ΕΛΓΟ ΔΗΜΗΤΡΑ καθώς και με ερευνητικά ιδρύματα του εξωτερικού. <br></br>Σε εξέλιξη βρίσκονται 4 ακόμα ερευνητικά προγράμματα:<br><br>
					<li>	Ευρωπαϊκό πρόγραμμα FP7 MARS –Marker Assisted Resistance to Sharka 
					(INRA - Γαλλικό Ιδρυμα Αγροτικής Ερευνας)</li><br>
					<li>	Παθογόνα με  μοριακές τεχνικές  
					(ΓΓΕΤ, Πρόγραμμα Απασχόληση)</li><br>
					<li>	Αναλύσεις Φυτοφαρμάκων με Χρήση Βιοαισθητήρων 
					(ΓΓΕΤ Συνεργασία, ΕΚΕΦΕ Δημόκριτος)</li><br>
					<li>	Αλλεργιογόνα με ανοσοχημικές & μοριακές τεχνικές 
					(Ιδρυμα Προώθησης Ερευνας,  Παν/μιο Λευκωσίας –Γενικό Χημείο Κράτους Κύπρου)</li><br>

					<br>Παράλληλα, στελέχη της εταιρίας μας έχουν δημοσιεύσεις σε επιστημονικά περιοδικά,  ιστοσελίδες και συνέδρια ή ημερίδες. Παραθέτουμε μερικά παραδείγματα:<br><br>
					<li>	Ο Κανονισμός 1881/2006 για ανώτατα όρια χημικών επιμολυντών στο κρέας. </li><br>
					<li>	Αλλεργιογόνα τρόφιμα: Συνήθεις περιπτώσεις επιμόλυνσης κατά την παραγωγική διαδικασία. </li><br>
					<li>	Τροφικές Αλλεργίες και Ευρωπαϊκός Κανονισμός 1169/2011</li><br>
					<li>	Ταυτοποίηση Ελαιολάδου σε εμπλουτισμένη ζωοτροφή με μοριακές τεχνικές </li><br>
					<li>	Δηλητηριάσεις. Η "επέλαση" του καμπυλοβακτηρίου</li><br>
					<li>	Βιολειτουργικά συστατικά στο Παρθένο ελαιόλαδο</li><br>
					<li>	Πολυκυκλικοί Αρωματικοί Υδρογονάνθρακες στο Παρθένο Ελαιόλαδο </li><br>
					<li>	EFSA’s scientific advice and Consumer’s expectations (EΦΕΤ-ΕFSA)</li><br>
					<li>	Eπικοινωνία και Ποιότητα (ΣΕΒΤ)</li><br>
					<li>	Πλατφόρμα συνεργασίας μεταξύ των ενδιαφερομένων μερών της αλυσίδας  τροφίμων (Μπενάκειο Φυτοπαθολογικό Ινστιτούτο)</li><br>
					<li>	Παραγωγη αρωματικών & φαρμακευτικών φυτών: H περίπτωση του sideritis (Ελαιοτεχνία)</li><br>
					<li>	Risk-Benefit considerations in the area of botanicals: EU regulatory framework (MediCrops 2011 & Seeranet-Belgrad)</li><br>
					<li>	Investigating the Consumer Perception System on Emerging Technologies in the Area of Foodstuffs, ILSI EUROPE</li><br>
					<li>	Oι τεχνικές ταχείας ανίχνευσης στην υπηρεσία των συστημάτων διαχείρισης της ασφάλειας των τροφίμων (παρακολούθηση, επικύρωση και επαλήθευση με χρήση rapid/simple tests)</li><br>
					<li>	Food Against Consumers (GlobalGap)</li><br>
					<li>	Ανοσοχημικές μέθοδοι για προσδιορισμό φουντουκέλαιου σε ελαιόλαδο </li><br>
					<li>	Adulteration of virgin olive oil </li><br>
					<li>	Rapid methods in wheat and cereal analysis mycotoxins, allergens, GMO, pathogens</li><br>
					<li>	Olive oil and pomace olive oil processing (στο ισπανικό ACEITAS Y GRASAS)</li><br>

				</ul>
				</h4>
			</p>				
	</div>	
</div>