<div class="container">
		<h2 class="page-header">
			<small>{{ 'CONTACT1' | translate }}</small>
		</h2>
		<div class="col-md-12">
				<p>
				<h3><b> Food Allergens Laboratory </b></h3>
					
				</p>
				<p>
					<h4>
						<div ng-bind-html="'CONTACT1_DESC' | translate"></div>
					</h4>
				</p>
		</div>

		<div class="col-md-6">
			<ul>

				<h4>
				<p>
					<li>Εδρα: Κρήτη</li> 
					Ποσειδώνος 1, Βιολί Χαράκι, ΤΘ 3101 <br> 74100 Ρέθυμνο <br> Ελλάδα <br>
					Tηλ-Φαξ: 28310 24423<br> <b>e-mail για Κρήτη: </b><a
						href="mailto:crete.foodallergenslab@foodallergenslab.com">crete.foodallergenslab@foodallergenslab.com</a>
				</p>
				<p>
					<li>Food Allergens Laboratory - Αθήνα:</li> 
					K. ΒΑΡΝΑΛΗ 40, 4ος όροφος, <br>
					14231, ΝΕΑ ΙΩΝΙΑ, ΑΤΤΙΚΗ<br> Τηλ :211 4004293, Φαξ: 210 2712498
						<br> <b>e-mail για Αθήνα: </b><a
						href="mailto:info@foodallergenslab.com">info@foodallergenslab.com</a>
				</p>

				<p>
					<li>FA Food Allergens Lab Ltd - Κύπρος:</li>
					Καλοψιδας 38, Λιβαδιά, 70 60 τηλ:+357 24669934, 
						<br> <b>e-mail για Κύπρο: </b><a
						href="mailto:cyprus.foodallergenslab@gmail.com">cyprus.foodallergenslab@gmail.com</a>
				</p>
				
				<p>
					<li>Food Allergens Lab Polska SP.Z.O. - Πολωνίας:</li>
					17 Bonifraterska str., Warsaw, 00-203, Tel. +4822 3325904, 
						<br> <b>e-mail για Πολωνία: </b><a
						href="mailto:poland.foodallergenslab@foodallergenslab.com">poland.foodallergenslab@foodallergenslab.com</a>
				</p>			
				</h4>
				<hr>

				<a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
				<a href="#"><i class="fa fa-twitter fa-2x"></i></a>
				<a href="#"><i class="fa fa-google-plus fa-2x"></i></a>
			</ul>
		</div>
	
		<div class="col-md-6" my-map=""></div>


</div>
