<div class="container">
		<h2 class="page-header">
			<small>{{ 'CONTACT1' | translate }}</small>
		</h2>
		<div class="col-md-12">
				<p>
				<h3><b> Food Allergens Laboratory </b></h3>
					
				</p>
				<p>
					<h4>
						<div ng-bind-html="'CONTACT1_DESC' | translate"></div>
					</h4>
				</p>
		</div>

		<div class="col-md-6">
			<ul>

				<h4>
				<p>
					<li>Food Allergens Laboratory - Αθήνα:</li> 
					K. Bάρναλη 40, 4ος-5ος όροφος, <br>
					14231 - Νέα Ιωνία<br> Τηλ :2102712498, Φαξ: 2167005928
						<br> <b>e-mail: </b><a
						href="mailto:athens@foodallergenslab.com">athens@foodallergenslab.com</a>
				</p>
				<p>
					<li>Food Allergens Laboratory - Θεσσαλονίκη</li>
					Θωμά Γαβριηλίδη 3, <br>
					55132 - Καλαμαριά<br>
					Tηλ-Φαξ: 2316016847
					<br> <b>e-mail:</b><a href="mailto:thessaloniki@foodallergenslab.com">thessaloniki@foodallergenslab.com</a>
				</p>
					
				<p>
					<li>Food Allergens Laboratory - Κρήτη</li> 
					Ποσειδώνος 1, Βιολί Χαράκι  <br> 74100 - Ρέθυμνο <br> 
					Tηλ-Φαξ: 2831024423<br> <b>e-mail: </b><a
						href="mailto:crete@foodallergenslab.com">crete@foodallergenslab.com</a>
				</p>


				<p>
					<li>FA Food Allergens Lab Ltd - Κύπρος</li>
					Καλοψιδας 38, Λιβαδιά,<br> 70 60 - Λάρνακα<br> τηλ:+357 24669934, 
						<br> <b>e-mail: </b><a
						href="mailto:cyprus@foodallergenslab.com">cyprus@foodallergenslab.com</a>
				</p>
			
				</h4>
				<hr>

				<a href="https://www.facebook.com/foodallergenslab/"><i class="fa fa-facebook-square fa-2x"></i></a>
				<a href="https://twitter.com/food_allergens"><i class="fa fa-twitter fa-2x"></i></a>
				<a href="https://plus.google.com/u/0/115110966645737703914"><i class="fa fa-google-plus fa-2x"></i></a>
			</ul>
		</div>
	
		<div class="col-md-6" my-map=""></div>


</div>
