<div class="container">
		<h2 class="page-header">
			<small>{{ 'CONTACT2' | translate }}</small>
		</h2>
	<div class="col-md-12">
	
			<p>
				<h4>
					<div ng-bind-html="'CONTACT2_DESC' | translate"></div>
				</h4>
			</p>	
</div>

<div class="col-md-6">
<h4>



<ul>
<li>	Βαρλάμος Ανδρέας,</li> Χημικός Μηχανικός ΕΜΠ, MSc Food Q.A. Reading/UK με 20ετή επαγγελματική εμπειρία 
[Μέλος ομάδων εργασίας της ΕFSA (StaCG-Emerging Risks, Chemical Occurrence Data), τ.Πρόεδρος του Stakeholders Consultative Platform της EFSA, τ.Εμπειρογνώμων της Ευρωπαϊκής Αρχής Ασφάλειας Τροφίμων (EFSA), t.Επιμελητής της Επιστημονικής. Επιτροπής Τροφίμων & Βιοτεχνολογίας του ΤΕΕ, τ.Μέλος του Headline Food WG BEUC, της Εθνικής Επιτροπής Διατροφικής Πολιτικής, της Γ.Τ.Ε. Φορέων ΕΣΥΔ, της Τ.Ε. Τροφίμων ΕΛΟΤ και της Επιτροπής του YAAT για το ΕΣΔ σχετικά με τη χρήση φυτοφαρμάκων κ.ά.]<br></br>

<li>	Δρ. Μηλιάδης Γιώργος(Τεχνικός Διευθυντής),</li> Δρ. Χημικός με 35 χρόνια επαγγελματική εμπειρία 
[Μέλος του ΑΧΣ, Αξιολογητής του Ε.ΣΥ.Δ., τ.Προϊστάμενος Εθνικού Εργαστηρίου Αναφοράς Υπολειμμάτων Γεωργικών Φαρμάκων του Μπενάκειου Φυτοπαθολογικού Ινστιτούτου, τ.Εμπειρογνώμων του Γραφείου Τροφίμων & Κτηνιατρικών (FVO) της Ευρωπαϊκής Επιτροπής, τ.Αντιπρόεδρος τεχνικής επιτροπής του ΕΣΥΔ, Εκπαιδευτής μεγάλου αριθμού εργαστηρίων διεθνώς για θέματα προτύπων ποιότητας, αναλυτικών τεχνικών και επισήμων ελέγχων σε τρόφιμα, Εξουσιοδοτημένος Εκπαιδευτής Χημικής Μετρολογίας (TrainMic της Ευρωπαϊκής Επιτροπής), τ.Εμπειρογνώμων της Ευρωπαϊκής Αρχής Ασφάλειας Τροφίμων (ΕFSA), τ.Εμπειρογνώμων του TAIEX της Ευρωπαϊκής Επιτροπής, Κριτής διεθνών επιστημονικών περιοδικών, Πρόεδρος και μέλος διαφόρων επιστημονικών επιτροπών με περισσότερες από 190 δημοσιεύσεις σε έγκριτα διεθνή επιστημονικά περιοδικά, πλήθος δημοσιευμάτων σε συνέδρια και εισηγήσεις σεμιναρίων, εκδόσεις συγγραμμάτων κ.α] 
</h4>
</div>
<div class="col-md-6">
<h4>
<ul>
<li>	Σειραγάκης Γιώργος,</li> Χημικός, MSc QA με 25ετή επαγγελματική εμπειρία 
[Μέλος του CEN/TC275 WG12,TAG3 (ISO για αλλεργιογόνα, παθογόνα), Αξιολογητής των Ευρωπαϊκών Προγραμμάτων Eurostars, Reviewer του διεθνούς επιστημονικού περιοδικού JAOCS, τ.Μέλος του Ανώτατου Χημικού Συμβουλίου και της Οριζόντιας επιτροπής του ΕΣΥΔ, τ.Αξιολογητής του Εθνικού Συμβουλίου Διαπίστευσης (ΕΣΥΔ), Εθνικός Εκπρόσωπος στην ΕΕ (ορισμένος από το ΣΕΒΤ) προς εφαρμογή της οδηγίας IPPC στη Βιομηχανία Τροφίμων, Συντονιστής της Επιτροπής ΣΕΒΙΤΕΛ στην έκδοση Οδηγού Υγιεινής Ελαιολάδου, τ.Μέλος του ΔΣ του Τμήματος Τροφίμων της ΕΕΧ, της Τεχνικής Επιτροπής Τροφίμων του ΕΛΟΤ, κ.ά.]<br></br>

</ul>

<p>
Λοιπό επιστημονικό δυναμικό: 
</p>
<ul>
<li>Αγγελογιαννάκης Γιάννης, Τεχνολόγος Γεωπόνος ΑΤΕΙ Θεσσαλίας</li> 
<li>Agnieszka Ambroziak - Διαιτολόγος - M.Sc Επιστήμη και Τεχνολογία Τροφίμων</li> 
<li>Αντωνοπούλου Ίριδα, Οικονομολόγος Παντείου Πανεπιστημίου Αθηνών </li> 
<li>Barszczewska Katarzyna, Βιολόγος - M.Sc σε Ανοσολογικές και Ραδιολογικές Μοριακές Τεχνικές</li> 
<li>Γαλάνης Νίκος, Γεωπόνος ΓΠΑ – Μ.Sc στη Χημεία Τροφίμων ΕΚΠΑ </li>
<li>Γαλλιάκη Αννα, Χημικός Πανεπιστημίου Κρήτης </li>
<li>Γεωργίου Κωνσταντίνα, Γεωπόνος ΤΕΠΑΚ - MSc στη Μοριακή Βιολογία</li>
<li>Ειρήνη Λιόλιου, Γεωπόνος ΓΠΑ – M.Sc στη Διασφάλιση Ποιότητας</li>
<li>Λαμπιδώνης Αντώνης, Μεταδιδακτορικός Γεωπόνος – Μοριακός Βιολόγος</li>
<li>Παΐζη Αρσινόη, Βιολόγος Πανεπιστημίου Πατρών - M.Sc στη Φαρμακογονιδιωματική Τεχνολογία</li>
<li>Παρασκευαΐδη Κλεοπάτρα, Γεωπόνος ΓΠΑ – M.Sc στην Τεχνολογία Τροφίμων</li>
<li>Πολίτης Μανώλης, Βιολόγος Πανεπιστημίου Κρήτης – M.Sc στη Μοριακή Βιολογία</li>
<li>Σαλασίδης Ελευθεριος, Τεχνολόγος Τροφίμων ΑΤΕΙ Θεσσαλίας</li>
<li>Σπιθουράκη Φαίη, Τεχνολόγος Γεωπόνος ΑΤΕΙ Πελοποννήσου</li>
<li>Τσελέπη Κατερίνα, Τεχνολόγος Τροφίμων ΑΤΕΙ Θεσσαλονίκης</li>
<li>Τσιάντας Πέτρος, Γεωπόνος ΓΠΑ – M.Sc στις Αναλυτικές Τεχνικές Προσδιορισμού ΥΦΠ</li>
<li>Τσίντζηρα Παναγιώτα, Λογιστής ΑΤΕΙ Χαλκίδας</li>
<li>Χλιάρα Δήμητρα, Τεχνολόγος Τροφίμων ΑΤΕΙ Αθηνών</li>
<li>Χριστοδούλου Έλενα, Τεχνολόγος Τροφίμων ΑΤΕΙ θεσσαλονίκης</li>
<li>Χριστοφάκης Μανώλης, Χημικός Πανεπιστημίου Κρήτης – M.Sc in Food Biotechnology Ulster University</li>
</ul>
</h4>
<br><br>
</div>

</div>
