<div class="container">
    <div class="col-md-12">
		<h2 class="page-header"><small>{{ 'HOME' | translate }}</small></h2>
			<div class="row">
				<div class="col-sm-12 col-md-12">
					<div class="thumbnail">

					  <img src="pics/analysis.png" alt="analysis" WIDTH="242" HEIGHT="200">
					  <div class="caption">
						<h3><a href="#services1">{{ 'HOME_IMG_TITLE1' | translate }}</a></h3>
						<p>{{ 'HOME_IMG_DESC1' | translate }}</p>
						<p><a href="#services1" class="btn btn-primary" role="button">Go</a></p>
					  </div>
					</div>
				</div>		  
			</div>

			
			<div class="row">
				<div class="col-sm-12 col-md-12">
					<div class="thumbnail">

					  <img src="pics/analysis.png" alt="analysis" WIDTH="242" HEIGHT="200">
					  <div class="caption">
						<h3>{{ 'HOME_IMG_TITLE2' | translate }}</h3>
						<p>{{ 'HOME_IMG_DESC2' | translate }}</p>
						<p><a href="#services2" class="btn btn-primary" role="button">Go</a></p>
					  </div>
					</div>
				</div>
		  
			</div>	

			<div class="row">
				<div class="col-sm-12 col-md-12">
					<div class="thumbnail">

					  <img src="pics/analysis.png" alt="analysis" WIDTH="242" HEIGHT="200">
					  <div class="caption">
						<h3>{{ 'HOME_IMG_TITLE3' | translate }}</h3>
						<p>{{ 'HOME_IMG_DESC3' | translate }}</p>
						<p><a href="#services3" class="btn btn-primary" role="button">Go</a></p>
					  </div>
					</div>
				</div>
		  
			</div>	

			<div class="row">
				<div class="col-sm-12 col-md-12">
					<div class="thumbnail">

					  <img src="pics/analysis.png" alt="analysis" WIDTH="242" HEIGHT="200">
					  <div class="caption">
						<h3>{{ 'HOME_IMG_TITLE4' | translate }}</h3>
						<p>{{ 'HOME_IMG_DESC4' | translate }}</p>
						<p><a href="#services4" class="btn btn-primary" role="button">Go</a></p>
					  </div>
					</div>
				</div>
		  
			</div>	

			<div class="row">
				<div class="col-sm-12 col-md-12">
					<div class="thumbnail">

					  <img src="pics/analysis.png" alt="analysis" WIDTH="242" HEIGHT="200">
					  <div class="caption">
						<h3>{{ 'HOME_IMG_TITLE5' | translate }}</h3>
						<p>{{ 'HOME_IMG_DESC5' | translate }}</p>
						<p><a href="#services6" class="btn btn-primary" role="button">Go</a></p>
					  </div>
					</div>
				</div>
		  
			</div>	
			

			<div class="row">
				<div class="col-sm-12 col-md-12">
					<div class="thumbnail">

					  <img src="pics/analysis.png" alt="analysis" WIDTH="242" HEIGHT="200">
					  <div class="caption">
						<h3>{{ 'HOME_IMG_TITLE6' | translate }}</h3>
						<p>{{ 'HOME_IMG_DESC6' | translate }}</p>
						<p><a href="#services7" class="btn btn-primary" role="button">Go</a></p>
					  </div>
					</div>
				</div>
		  
			</div>	
    </div>
</div>
	
    	
