<div class="container">
    <div class="col-md-12">
		<h2 class="page-header"><small>{{ 'HOME' | translate }}</small></h2>
			<div class="row">
				<div class="col-sm-12 col-md-12">
					<div class="thumbnail">
					  <div id="images">
					  	<img src="pics/home1.jpg" HEIGHT="200">
						<img src="pics/home2.jpg" HEIGHT="200">
					  </div>
					  <div class="caption">
						<h3><a href="#/{{lng}}/services1">{{ 'HOME_IMG_TITLE1' | translate }}</a></h3>
	
						<p>{{ 'HOME_IMG_DESC1' | translate }}</p>						
					  </div>
					</div>
				</div>		  
			</div>

			
			<div class="row">
				<div class="col-sm-12 col-md-12">
					<div class="thumbnail">

					  <div id="images">
					  	<img src="pics/home3.jpg" HEIGHT="200">
					  </div>
					  <div class="caption">
						<h3><a href="#/{{lng}}/services2">{{ 'HOME_IMG_TITLE2' | translate }}</a></h3>
						<p>{{ 'HOME_IMG_DESC2' | translate }}</p>						
					  </div>
					</div>
				</div>
		  
			</div>	

			<div class="row">
				<div class="col-sm-12 col-md-12">
					<div class="thumbnail">

					  <div id="images">
						<img src="pics/home4.jpg" HEIGHT="200">
					  	<img src="pics/home5.jpg" HEIGHT="200">
						<img src="pics/home6.jpg" HEIGHT="200">
					  </div>
					  <div class="caption">
						<h3><a href="#/{{lng}}/services3">{{ 'HOME_IMG_TITLE3' | translate }}</a></h3>
						<p>{{ 'HOME_IMG_DESC3' | translate }}</p>						
					  </div>
					</div>
				</div>
		  
			</div>	

			<div class="row">
				<div class="col-sm-12 col-md-12">
					<div class="thumbnail">

					  <div id="images">
					  	<img src="pics/home7.jpg" HEIGHT="200">
						<img src="pics/home8.jpg" HEIGHT="200">
					  </div>
					  <div style="text-align:center;">

						<img src="pics/home9.png" WIDTH="481">
					  </div>
					  <div class="caption">
						<h3><a href="#/{{lng}}/services4">{{ 'HOME_IMG_TITLE4' | translate }}</a></h3>
						<p>{{ 'HOME_IMG_DESC4' | translate }}</p>
					  </div>
					</div>
				</div>
		  
			</div>	

			<div class="row">
				<div class="col-sm-12 col-md-12">
					<div class="thumbnail">

					  <div id="images" >
					  	<img src="pics/home10.jpg" HEIGHT="150" WIDTH="350">
						<img src="pics/home11.jpg" HEIGHT="150" WIDTH="300">
					  </div>
					  <div class="caption">
						<h3><a href="#/{{lng}}/services5">{{ 'HOME_IMG_TITLE5' | translate }}</a></h3>
						<p>{{ 'HOME_IMG_DESC5' | translate }}</p>						
					  </div>
					</div>
				</div>
		  
			</div>	
			

			<div class="row">
				<div class="col-sm-12 col-md-12">
					<div class="thumbnail">

					  <div id="images">
					  	<img src="pics/home12.jpg" HEIGHT="200">
						<img src="pics/home13.jpg" HEIGHT="200">
					  </div>
					  <div class="caption">
						<h3><a href="#/{{lng}}/services6">{{ 'HOME_IMG_TITLE6' | translate }}</a></h3>
						<p>{{ 'HOME_IMG_DESC6' | translate }}</p>						
					  </div>
					</div>
				</div>
		  
			</div>	
    </div>
</div>
	
    	
