<div class="container">
    <div class="col-md-12">
        <h2 class="page-header"><small>{{ 'SERVICES2' | translate }}</small></h2>
		<div class="row">
		<p>
			<div class="col-md-6">
				<h3><b>Αναλύσεις</b></h3>
			
				<h4>
					Τα εργαστήρια μας σε Αθήνα και Κύπρο αλλά και οι συνεργασίες που έχουμε με πολύ μεγάλα εργαστήρια σε Ελλάδα και εξωτερικό (Γερμανία, Ολλανδία, Ιταλία) μας επιτρέπουν να καλύπτουμε όλο το εύρος των ζητούμενων εργαστηριακών αναλύσεων σε υποστρώματα όπως Τρόφιμα & Ποτά (Φρούτα & Λαχανικά, Όσπρια, Δημητριακά, Ξηρούς Καρπούς, Λάδι-Ελιές, Κρέας, Αλλαντικά, Γαλακτοκομικά, Άλευρα, Προϊόντα Αρτοποιίας, Ζυμαρικά, Μελί, Γλυκά κ.α.), Ζωοτροφές, Νερά, Απόβλητα-Βιολογικοί, Χώμα & Φύλλα.

					Ενδεικτικά παρακάτω αναφέρονται κάποιες από τις αναλύσεις, που διενεργούνται στα εργαστήρια:
					<ul>
					<li>	Αλλεργιογόνα,</li>
					<li>	Υπολείμματα Φυτοπροστατευτικών Προϊόντων (Γεωργικά Φάρμακα/Φυτοφάρμακα)</li>
					<li>	Μυκοτοξίνες,</li>
					<li>	Βαρέα μέταλλα,</li>
					<li>	Πολυκυκλικοί αρωματικοί υδρογονάνθρακες,</li>
					<li>	Συντηρητικά, χρωστικές & λοιπά Πρόσθετα</li>
					<li>	Ακρυλαμίδιο,</li>
					<li>	Μικροοργανισμοί (παθογόνοι & μη)</li>
					<li>	Γενετική τροποποίηση (GMO),</li>
					<li>	Ισταμίνη, σταφυλοκ. εντεροτοξίνες, θαλάσσιες τοξίνες</li>
					<li>	Διοξίνες, PCBs</li>
					<li>	Φθαλικοί εστέρες/πλαστικοποιητές</li>
					<li>	Κτηνιατρικά κατάλοιπα (αντιβιοτικά, αυξητικές ορμόνες, παρασιτοκτόνα)</li>
					<li>	Μελαμίνη, Νιτροφουράνια, Νιτροζαμίνες, BPA κ.ά. ειδικοί κίνδυνοι τροφίμων θερμικών ή άλλων διεργασιών τροφίμων</li>
					<li>	Διαθρεπτική/Διατροφική αξία τροφίμων & ζωοτροφών (macro- & micro-nutrients)</li>
					<li>	Χημική & μικροβιολογική ανάλυση νερού</li>
					<li>	Ποιοτικά χαρακτηριστικά κατάταξης ελαιόλαδου, μελιού κ.ά.</li>
					<li>	Νοθείες ελαιολάδου, γαλακτοκομικών, μελιού, ζωοτροφών κ.ά.</li>
					<li>	Εδαφολογικές και Φυλλοδιαγνωστικές αναλύσεις</li>
					<li>	Ποιοτικά χαρακτηριστικά φυτικών και άλλων ειδών (αλόη, στέβια κλπ)</li>
					<li>	Συγκριτικές μελέτες/πειράματα συγκριτικών δοκιμών για την εκτίμηση αποτελεσματικότητας ή/και αποδοτικότητας προϊόντων (πχ φίλτρα, μυκοστατικά, συστήματα απομάκρυνσης ή ενσωμάτωσης ουσιών κ.α.)</li>
					<li>	Μελέτες/πειράματα εκτίμησης διάρκειας διατήρησης (χρόνος ζωής)</li>
					<li>	Μετανάστευση Υλικών Συσκευασίας και άλλες αναλύσεις.</li>
					</ul>
				</h4>
			</div>
			
			<div class="col-md-6">
			
				<h3><b>Επισημανση - νομοθεσία τροφίμων</b></h3><br>

				<img src="pics/facts.png" class="img-rounded, center-block" alt="Nutricion Facts"  width="304" height="236">

				<h4>
					<ul>
					<li>	Συμβουλευτικός έλεγχος ετικετών (διαφήμισης & παρουσίασης τροφίμων) προς συμμόρφωση με ελληνική/ευρωπαϊκή ή άλλη (κατά περίπτωση) ισχύουσα νομοθεσία για την επισήμανση των τροφίμων.</li>
					<li>	Επεξήγηση νομοθεσιών και υποστήριξη στην διαρκή ενημέρωση περί αλλαγών αναθεωρήσεων και προσθηκών στη νομοθεσία.</li>
					<li>	Υποστήριξη σε περιπτώσεις μη συμμόρφωσης κατόπιν επισήμων ελέγχων από τις αρμόδιες κρατικές αρχές. </li>
					<li>	Επιθεωρήσεις ασφάλειας τροφίμων (1ου ή 2ου μέρους)</li>
					<li>	Επιθεωρήσεις για την απόκτηση gluten free ή άλλων εμπορικών συμβόλων</li>
					</ul>					
				</h4>

			</div>
		</p>
		</div>
		
		
		<div class="row">
		<p>
			<div class="col-md-6">
				<h3><b>Εκπαιδευσεις</b></h3>
				
				<h4>
					Η Food Allergens Lab παρέχει ένα ευρύ φάσμα σεμιναρίων για εταιρίες & επαγγελματίες ιδιώτες του χώρου τροφίμων/ποτών & ζωοτροφών. Τα σεμινάρια διενεργούνται από εκπαιδευτές με υπερ20ετή εμπειρία σε επαγγελματικές εκπαιδεύσεις. 
				</h4>
			</div>
			
			<div class="col-md-6">
				<h3><b>Υποστηριξη ερευνητικών δράσεων</b></h3>
				
				<h4>
					Συνεργασία με επιχειρήσεις τροφίμων & ζωοτροφών στην υλοποίηση ερευνητικών δράσεων τους, με  ή χωρίς συμμετοχή σε επιχορηγούμενα προγράμματα εθνικής ή ευρωπαϊκής εμβέλειας.
				</h4>
			</div>
		</p>
		</div>
		
		
    </div>
</div>