<div class="container">


        <div class="col-md-6">
            <h2 class="page-header"><small>Δημοσιεύματα</small></h2>


<p>

<a href="http://www.compassmedia.gr/pdf/foodtechnology3.pdf"> 1.Ο Κανονισμός 1881/2006 για ανώτατα όρια χημικών επιμολυντών στο κρέας. Γ.Σειραγάκης</a>

</p><hr>
<p>
<a href="http://www.teiath.gr/stetrod/food_technology/imerides_seminaria/asfaleia_trofimon/Seiragakis.pdf">
2.Αλλεργιογόνα τρόφιμα : Συνήθεις περιπτώσεις επιμόλυνσης κατά την παραγωγική διαδικασία.  Γ.Σειραγάκης</a>

</p><hr>
<p>

<a href="http://www.greeklipidforum.gr/LinkClick.aspx?fileticket=bIowvK1%2B7E4%3D&amp;tabid=69&amp;mid=426">
3.Tαυτοποίηση ελαιολάδου σε εμπλουτισμένη ζωοτροφή με μοριακές τεχνικές Ε.Πολίτης, Γ.Περράκης, Δ.Κίζης</a>

</p><hr>
<p>

<a href="http://www.pitsilidis.gr/magazine_gr.asp?id=1613&amp;category=24">4.Τροφικές Αλλεργίες Γ.Σειραγάκης</a>
</p><hr>
<p>

<a href="http://www.makthes.gr/news/reportage/7687/">5.Δηλητηριάσεις. Η "επέλαση" του καμπυλοβακτηρίου</a>

</p><hr>
<p>
<a href="http://www.cyprusfoodndrinks.com/cgibin/hweb?-A=1462&amp;-V=news">6.Βιολειτουργικά συστατικά στο Παρθένο ελαιόλαδο</a>
</p><hr>
<p>
<a href="http://www.cyprusfoodndrinks.com/cgibin/hweb?-A=1463,printer.html&amp;-V=cfd">7.Πολυκυκλικοί Αρωματικοί Υδρογονάνθρακες στο Παρθένο Ελαιόλαδο, Γ. Σειραγάκης</a>
</p><hr>
<p>
<a href="http://www.google.com/search?hl=el&amp;client=gmail&amp;rls=gm&amp;q=%CE%91,%CE%92%CE%B1%CF%81%CE%BB%CE%AC%CE%BC%CE%BF%CF%82+ppt&amp;btnG=%CE%91%CE%BD%CE%B1%CE%B6%CE%AE%CF%84%CE%B7%CF%83%CE%B7&amp;aq=f&amp;aqi=&amp;aql=&amp;oq=&amp;gs_rfai=">
8.ΕΠΙΚΟΙΝΩΝΙΑ &amp; ΠΟΙΟΤΗΤΑ .ΗΜΕΡΙΔΑ ΣΕΒΤ Α.ΒΑΡΛΑΜΟΣ</a>
</p><hr>
<p>
<a href="http://www.ilsi.org/Europe/Publications/Emerging%20Technologies%20Report.pdf">
 9. Emerging Technologies ISLI A.Varlamos</a>

</p><hr>
<p>

<a href="http://www.healthclaimsconference.org/conference-documents">10. The Consumer Prospective A.Varlamos
</a>
</p><hr>
<p>

<a href="http://healthclaimsconference.org/programme">11.Article 13 Health Claims  A.Varlamos</a>
</p><hr>
<p>

<a href="http://www.globalgap.org/cms/upload/Documents/temp_upload/TOUR2009/Presentations/091111_Varlamos_GLOBALGAP-Food_against_consumer-ATHENS-11Nov09_presentation.pdf">12. Food Against Consumers A.Varlamos</a>

</p><hr>
<p>

<a href="http://www.foodallergenslab.com/biofood.pdf">13. ΑΝΟΣΟΧΗΜΙΚΕΣ ΜΕΘΟΔΟΙ ΓΙΑ ΠΡΟΣΔΙΟΡΙΣΜΟ ΦΟΥΝΤΟΥΚΕΛΑΙΟΥ ΣΕ ΕΛΑΙΟΛΑΔΟ Γ.ΣΕΙΡΑΓΑΚΗ</a>

</p><hr>
<p>

<a href="http://www.rafa2009.eu/book_abstracts_rafa2007.pdf">14. Adulteration of virgin olive oil G.Siragakis</a>
</p><hr>
<p>

<a href="http://lib.bioinfo.pl/auid:5394703">15. Rapid methods in wheat and cereal analysis  mycotoxins, allergens, GMO, pathogens</a>
</p><hr>
<p>

<a href="http://www.bionova.gr/bio/">16. PATHOGENS BY RT-PCR SIRAGAKIS-CHRISTOFAKIS</a>
</p><hr>
<p>

<a href="22-22-2-PB-2.pdf">17. ΔΗΜΟΣΙΕΥΜΑ στο ΙΣΠΑΝΙΚΟ ACEITAS Y GRASAS</a>

				
        </div>

<div ng-include='"partials/news.html"'></div>
	
    	
</div>