<div class="container">
    <div class="col-md-12">
        <h2 class="page-header"><small>Εξοπλισμός και αναλώσιμα</small></h2>


		<p>
		<div class="row">
			<div class="col-md-6">
				<h3><b><u>Εμπόριο/εγκατάσταση εξοπλισμού ελέγχου ποιότητας</u></b></h3>.<br>
				<h4>
				Η Food Allergens Lab ειδικεύεται, σε λύσεις ταχείας ανίχνευσης για την Βιομηχανία Τροφίμων αλλά και στην εμπορία και εγκατάσταση εξειδικευμένου εργαστηριακoύ εξοπλισμού και αντιδραστηρίων.<br></br>

				Ενδεικτικά παρακάτω αναφέρονται κάποια από τα εμπορευόμενα είδη της εταιρίας μας:<br><br>
				<ul>
					<li>	Γρήγορα test για έλεγχο υγιεινής όπως, swab test για τον</li><br>
					<li>	έλεγχο της καθαριότητας και λουμινόμετρο για έλεγχο της απολύμανσης επιφανειών</li><br>
					<li>	Άμεσα οπτικά test προς ανίχνευση μικροοργανισμών και χημικών-βιολογικών παραμέτρων όπως, παθογόνοι, αλλεργιογόνα, φυτοφάρμακα, GMO’s, μυκοτοξίνες, αντιβιοτικά, νερό κ.α.</li><br>
					<li>	Συσκευές και Τεστ για ταχείες Εργαστηριακές αναλύσεις</li><br>
					<li>	Θρεπτικά Υποστρώματα (Accumedia)</li><br>
					<li>	Εξοπλισμό Παρακολούθησης Βιομηχανικών Διεργασιών (πχ Θερμόμετρα, Υγρασιόμετρα κλπ)</li><br>
					<li>	Αναλυτικό Εξοπλισμό Εργαστηρίου (Φασματοφωτόμετρα, Χρωματογράφους, Elisa, RT-PCR κ.α)</li><br>
					<li>	Βοηθητικό Εξοπλισμό Εργαστηρίου (Κλίβανους, Vortex, Αυτόματες Πιπέτες,Tips, Falcons κλπ)</li><br>
				<ul>
				</h4>
			</div>
			
			<div class="col-md-6">
				<h3><b><u>Παραγωγής και εμπορίας CRM και QuEChERS</u></b></h3>,<br>
				<h4>
				Η εταιρία μας παράγει και διακινεί Πιστοποιημένα Υλικά αναφοράς (CRMs) για έλεγχο ποιότητας εργαστηριακών αναλύσεων (πχ CRM για Αλλεργιογόνα, Βαρέα μέταλλα, Μυκοτοξίνες κλπ).
				Επίσης Παράγουμε και Διακινούμε Κρίσημα Εργαστηριακά Υλικά (QuEChERS) για την υλοποίηση εργαστηριακών αναλύσεων (πχ ανίχνευση υπολειμμάτων φυτοπροστατευτικών ουσιών)
				</h4>
			</div>
		</div>
		</p>
				
        </div>    	
</div>