<div class="container">


        <div class="col-md-6">
            <h2 class="page-header"><small>Εξοπλισμός και αναλώσιμα</small></h2>


<p>
Είμαστε αποκλειστικοί αντιπρόσωποι σε Ελλάδα και Κύπρο των κάτωθι εταιριών:
<b>Neogen, Biooscientific, Reagena, Envirologix, Biosan, Megazyme  .
<a href="http://www.neogen.com"><img src="neogen.JPG" border="0" height="50" width="160"></a></b></p><b> 
<a href="http://www.biooscientific.com"> <img src="Bioo Scientific_small.jpg" border="0" height="50" width="160"></a><p></p>
<a href="http://www.reagena.fi/www/en/"><img src="ReagenaLogo.JPG" border="0" height="50" width="160"></a><p></p> 
<a href="http://www.biosan.lv/"><img src="Logo_biosan.JPG" border="0" height="50" width="160"></a><p></p>

<a href="http://envirologix.com/artman/publish/index.shtml"><img src="envirologix.JPG" border="0" height="50" width="160"></a><p></p> 
<a href="http://secure.megazyme.com/Homepage.aspx"> <img src="MegazymeLogo.jpg" border="0" height="50" width="160"></a><p></p>
<ul>

<p>
	<marquee> Τα ταχέως κινούμενα όργανα ελέγχου τροφίμων:</marquee></p><p>
</p><li>Λουμινόμετρο (ΑΤP/ADP) ΝΕΟGEN για έλεγχο μικροβιακού φορτίου &amp; απολύμανσης
<p>
</p></li><li>SWAP Τεστ Υπολειμμάτων πρωτεΐνης &amp; σακχάρων ΝΕΟGEN για έλεγχο καθαρισμού
<p>
</p></li><li>Τεστ Κιτ Φωσφατάσης για έλεγχο παστερίωσης γαλακτοκομικών 
<p>
</p></li><li>Data Logger για παρακολούθηση θερμοκρασιών (7400δεδομένα, -50 oC-200oC)
<p>
</p></li><li>SΟLERIS αυτόματος μικροβιολογικός αναλυτής (aποτέλεσμα από 6 ώρες!!) πχ για ΟΜΧ, Coliforms, Ζύμες-Μύκητες, Παθογόνοι
<p>
</p></li><li>Εlisa Reader ΝΕΟGEN (φωτόμετρο) πχ για μυκοτοξίνες, αντιβιοτικά
<p>
</p></li><li>Κιτ Ελέγχου Υπολειμμάτων Φυτοφαρμάκων (πχ για οργανοφωσφωρικά, θειοφωσφορικά, καρβαμιδικά) 
<p>
</p></li><li>Colitag  Τεστ Κιτ  Υγιεινής Υδάτων π.χ.έλεγχοι για coliforms, Ε.coli 
<p>
</p></li><li>CP4 Τεστ Κιτ Γενετικής Τροποποίησης π.χ. για καλαμπόκι, σόγια 
				
        </div>

<div ng-include='"partials/news.html"'></div>
	
    	
</div>