<div class="container">


        <div class="col-md-6">
            <h2 class="page-header"><small>Σεμινάρια</small></h2>


<p><b>Φόρμα Συμμετοχής Σεμιναρίων
 </b></p><b><a class="fa fa-file-text fa-2x" href="Seminar.doc" target="_blank"></a>
   
 <hr>
<p>
<br> <b> Προγραμματισμός Σεμιναρίων (B εξάμηνο 2015):
  </b> </p><a class="fa fa-file-text fa-2x" href="SEMINARS.doc" target="_blank"></a>
<hr>
<p>
<br> <b> Φόρμα Συμμετοχής Σεμιναρίων Κύπρου </b></p><b><a class="fa fa-file-text fa-2x" href="entiposyprus.doc" target="_blank">





</a>
<hr>
<p>
<br> <b> Εκπαιδευτικό σεμινάριο:Νέα Νομοθεσία για Επισήμανση Τροφίμων,Διαθρεπτική Επισήμανση, Ισχυρισμοί Διατροφής &amp; Υγείας

</b>  </p><a class="fa fa-file-text fa-2x" href="FoodLabel-Nutrition.doc" target="_blank"></a>
   
<p>
</p><hr>
<p>
<br>



 <b> 7ωρο Εκπαιδευτικό σεμινάριο:ΠΟΙΟΤΗΤΑ ,ΓΝΗΣΙΟΤΗΤΑ, ΑΣΦΑΛΕΙΑ στην παραγωγή ΜΕΛΙΟΥ (Συμμόρφωση με νομοθεσια  Απαιτήσεις &amp; Τάσεις)
</b>  </p><a class="fa fa-file-text fa-2x" href="HONEYSEMINAR2015.doc" target="_blank"></a>
   
<p>
</p><hr>
<p>
<br>



<b> 14ωρο Εκπαιδευτικό σεμινάριο:Διαπίστευση Εργαστηρίων σύμφωνα με το ISO/IEC 17025 </b>  </p><a class="fa fa-file-text fa-2x" href="lab-accreditation-ISo.doc" target="_blank"></a>
   
<p>
</p>
<p>
<br>



<b> 14ωρο Εκπαιδευτικό σεμινάριο:ΜΙΚΡΟΒΙΟΛΟΓΙΚΕΣ ΑΝΑΛΥΣΕΙΣ ΜΕ ΜΟΡΙΑΚΕΣ
 &amp; ΑΝΟΣΟΧΗΜΙΚΕΣ ΤΕΧΝΙΚΕΣ </b>  </p><a class="fa fa-file-text fa-2x" href="mikr.analiseis-moriakest.doc" target="_blank"></a>
   
<p>
</p>
<p>
<br>


<b> 14ωρο Εκπαιδευτικό σεμινάριο:ΜΙΚΡΟΒΙΟΛΟΓΙΚΕΣ ΑΝΑΛΥΣΕΙΣ ΜΕ ΜΟΡΙΑΚΕΣ
 &amp; ΑΝΟΣΟΧΗΜΙΚΕΣ ΤΕΧΝΙΚΕΣ </b>  </p><a class="fa fa-file-text fa-2x" href="mikr.analiseis-moriakest.doc" target="_blank"></a>
   
<p>
</p>
<p>
<br>
				
        </div>

<div ng-include='"partials/news.html"'></div>
	
    	
</div>