<div class="container">


        <div class="col-md-6">
            <h2 class="page-header"><small>Επικοινωνία</small></h2>


<p> <b> Food Allergens Laboratory </b><br>
<br>ΕΔΡΑ: Κρήτη 
<br>Ποσειδώνος 1, Βιολί Χαράκι, ΤΘ 3101 <br>
74100 Ρέθυμνο <br>
Ελλάδα <br>
Tηλ-Φαξ: 28310 24423 <br>
</p><p>
<br>Υποκατάστημα: Aθήνα
 <br> K. ΒΑΡΝΑΛΗ 40, 4ος όροφος, 
<br> 14231, ΝΕΑ ΙΩΝΙΑ, ΑΤΤΙΚΗ<br> Τηλ :211 4004293, Φαξ:  210 2712498
<br>


<br><b>e-mail για Αθήνα, Κρήτη: </b><a href="mailto:info@foodallergenslab.com">info@foodallergenslab.com</a></p>


<p>


 

</p><p>
<br>Υποκατάστημα Κύπρου:<br> Καλοψιδας 38, Λιβαδιά, 70 60 τηλ:+357 24669934, <br> </p><p>




email:cyprus.foodallergenslab@gmail.com 
<br> 
<br> 
</p><p>







 </p><p>



 Αίτηση εκτέλεσης αναλύσεων: <a class="fa fa-file-text fa-2x" href="REQUEST_FORM.doc" target="_blank"></a></p>

<br>
<br> 
 <hr>
<p>


Αίτηση παραγγελίας εξοπλισμού-αναλώσιμων: <a class="fa fa-file-text fa-2x" href="Order.doc" target="_blank"></a></p>


<br>

<br><b>Τιμοκατάλογος</b>
<a class="fa fa-file-text fa-2x" href="price-list-2013.doc" target="_blank"></a><p></p>
				
        </div>

<div ng-include='"partials/news.html"'></div>
	
    	
</div>