<div class="container">


        <div class="col-md-6">
            <h2 class="page-header"><small>H Eταιρία μας</small></h2>


<p>
</p><p>
 </p><p>Τα εργαστήρια  Food Allergens Laboratory  είναι από τα μεγαλύτερα διαπιστευμένα εργαστήρια αναλύσεων και  δοκιμών στην Ελλάδα και Κύπρο, διαθέτοντας τελευταίας τεχνολογίας αναλυτικό εξοπλισμό για τον έλεγχο ασφάλειας και ποιότητας των τροφίμων. Η εταιρία ιδρύθηκε το 2005 στην Κρήτη και διαθέτει υποκαταστήμα και σε Αθήνα.

</p><p>

Σήμερα, τα εργαστήρια μας είναι σε θέση να καλύψουν <b> όλες τις ζητούμενες εργαστηριακές αναλύσεις </b> στην αγορά τροφίμων, ποτών, νερών, ζωοτροφών και αποβλήτων. 
</p><p>
Τα Food Allergens Laboratory έχουν οικοδομήσει μακροχρόνιες συνεργασίες με πελάτες, στηριζόμενα στην   ποιότητα, ταχύτητα και ανταγωνιστικό κόστος των υπηρεσιών τους.</p>
<p> 
     Η εταιρία εκτός από τον τομέα των <b>αναλύσεων</b> έχει επεκταθεί και σε άλλες δραστηριότητες :
</p><ul>
<li> <u>Εμπορική </u>: εξοπλισμός και αναλώσιμα ελέγχου ποιότητας, ανιχνευτές μικροβιολογικών και χημικών παραμέτρων
<p>
</p></li><li> <u>Εκπαιδεύσεις </u>: ευρύ φάσμα σεμιναρίων σε εταιρίες και επαγγελματίες ιδιώτες που κινούνται στο χώρο των τροφίμων, των ποτών και των ζωοτροφών) και επεκτείνεται διαρκώς σε νέους τομείς.
</li></ul>
<p>
<br>
  Τα εργαστήρια μας διαθέτουν σημαντική ερευνητική δραστηριότητα και πολλές διεθνείς επιστημονικές δημοσιεύσεις ενώ έχουν αναλάβει και μεγάλα έργα σε διεθνές επίπεδο. Το επιστημονικό δυναμικό των Food Allergens Laboratory αποτελείται από υψηλού επιπέδου επιστήμονες, που συμμετέχουν σε δραστηριότητες σημαντικών εθνικών και ευρωπαϊκών/διεθνών οργανισμών, εξασφαλίζοντας επικαιροποιημένη γνώση σε θέματα του χώρου. 
</p><p>
<br>
 Η εταιρία έχει πιστοποιηθεί κατά <b>ISO9001:2008 </b>και διαπιστευτεί από ΕΣΥΔ κατά <b>ISO17025:2005</b>
				
        </div>
		
		
<div ng-include='"partials/news.html"'></div>

    </div>
	
    	
