<div class="container">

    <div class="col-md-12">
            <h2 class="page-header"><small>Nέα και Ανακοινώσεις</small></h2>
			<h4>
			<div class="row">
				<p>
				    <div class="col-md-1">
						<p><i class="fa fa-file-text fa-4x"></i>
						</p>

						<p>May 24, 2016</p>
					</div>
					<div class="col-md-11">
					 	Στοιχεία Διαπίστευσης Οργανισμού: 						
					<br>
					<a href="http://www.esyd.gr/portal/p/esyd/el/showOrgInfo.jsp?id=18407" target="_blank">ISO 17025 Πεδίο Διαπίστευσης </a><br>
					</div>
				
			</div>

			<hr>
			
			<div class="row">	
					<div class="col-md-1">
						<p><i class="fa fa-file-text fa-4x"></i>
						</p>

						<p>May 24, 2015</p>
					</div>

					<div class="col-md-11">
						Κυκλοφορία Βιβλίου (2013-Wiley) με τίτλο: Food Allergen testing <br></br>
						<img src="pics/WILEY.jpg" border="0">  

					</div>
			</div>	

			</h4>			
    </div>

</div>
	
    	
