<div class="container">

        <div class="col-md-6">
            <h2 class="page-header"><small>Nέα και Ανακοινώσεις</small></h2>


<p>






<br>
<a href="http://www.esyd.gr/portal/p/esyd/el/showOrgInfo.jsp?id=18407" target="_blank">ISO 17025 Πεδίο Διαπίστευσης </a><br>
</p><hr>
<p>




</p><hr>
<br>
<img src="WILEY.jpg" border="0">  <p></p> 
<br>
<b>Κυκλοφορία Βιβλίου (2013-Wiley) με τίτλο: Food Allergen testing </b>
<p>



<br>

<br></p><p> 
</p><p></p><p>
</p><hr>

MSDS
<hr> 




<hr>
<p>

<a href="2Amino.pdf">2-Amino-5-hydroxybenzoic acid </a>
</p><hr>



<hr>
<p>

<a href="aceticacid.pdf">Acetic acid </a>
</p><hr>


<hr>
<p>

<a href="water.pdf">Water </a>
</p><hr>



  
<br>

<br><p> 
</p><p></p><p>
</p><hr>

Συμμετέχουμε στα συνέδρια - εκθέσεις:  
<hr> 







<hr>
<p>

<a href="https://www.foodexpo.gr">
<img src="FOODEXPO2016.jpg" border="0"><br>
</a>
</p><hr>






<hr>
<p>

<a href="http://www.fruitlogistica.com">
<img src="fruit.jpg" border="0"><br>
FRUIT LOGISTICA 2016, Berlin 3,4,5 February </a>
</p><hr>




<hr>
<p>

<a href="http://www.epagogi-engineers.com">
<img src="EPAGOGI.jpg" border="0">  </a>
</p><hr>
				
        </div>

    </div>
	
    	
