<div class="container">
    

        <div class="col-md-6">
            <h2 class="page-header"><small>Αναλύσεις</small></h2>


<p>Tα εργαστήρια Food Allergens Laboratories (Ελλάδα  Αθήνα &amp; Ρέθυμνο, και Κύπρο  Λάρνακα) πραγματοποιούν κάθε χρόνο χιλιάδες βιολογικές &amp; χημικές αναλύσεις/δοκιμές για εκατοντάδες επιχειρήσεις τροφίμων/ζωοτροφών, εργαστήρια αναλύσεων, ΜΚΟ και ερευνητικά ιδρύματα σε Ελλάδα/Κύπρο και εξωτερικό (σε περισσότερες από 6 ευρωπαϊκές χώρες).   

Οι υπηρεσίες που προσφέρουμε καλύπτουν όλο το εύρος των ζητούμενων εργαστηριακών αναλύσεων στους τομείς της ποιότητας (συμπ. ασφάλειας, νοθείας, διαθρεπτικής αξίας κ.ά.) τροφίμων/ζωοτροφών, νερών (ύδρευσης &amp; άρδευσης), αποβλήτων (στερεών &amp; υγρών) και χωμάτων.
</p><p>
Στις συνήθεις εργαστηριακές αναλύσεις μας, περιλαμβάνονται σημαντικές παράμετροι, όπως:
<b>μικροοργανισμοί </b> (παθογόνοι και μη), 
</p><p>
</p><li>
<b>αλλεργιογόνα, 
<p>
γενετική τροποποίηση/GMO, 
</p></b><p><b>
χημικοί επιμολυντές/ρυπαντές </b>(ΠΑΥ/PAH, μυκοτοξίνες, βαρέα μέταλλα, διοξίνες κ.ά), 
</p><p>
<b>διαθρεπτική αξία/επισήμανση </b> 
</p><p>
<b>υπολείμματα </b>(φυτοφάρμακα, αντιβιοτικά, αυξητικές ορμόνες κ.ά), 
</p><p>
<b>νερά </b>(μικροβιολογική &amp; χημική ανάλυση),
</p><p>
<b> απόβλητα βιολογικών καθαρισμών, 
</b></p><p><b>
<b>εδαφολογικές αναλύσεις 
<b>νοθείες </b>
</b></b></p><p><b><b>
<b> οργανοληπτική αξία &amp; ποιότική κατάταξη </b>
</b></b></p><p><b><b>
<b> έλεγχος ξένων σωμάτων</b>, 
</b></b></p><p><b><b>
και πολλές άλλες ειδικότερες (συντηρητικά, χρωστικές και άλλα πρόσθετα, μελαμίνη, ορυκτέλαια σε βρώσιμα λίπη/έλαια, πτητικές ουσίες, μετανάστευση υλικών συσκευασίας κ.ά).
</b></b></p><p><b><b>
</b></b></p><p><b><b>
</b></b></p></li><b><b> 
<hr>
Οι βασικότερες αναλύσεις μας στις πιο σημαντικές κατηγορίες :
<p>
<br>

 <a href="MEAT1.doc" target="_blank"><img src="MEAT.JPG"></a></p>
<br>
 <a href="FEEDINGSTUFF1.doc" target="_blank"><img src="FEED.JPG"></a><p></p>
<br>
 <a href="oil1.doc" target="_blank"><img src="OIL.JPG"></a><p></p>
<br>
 <a href="juicy-fruits1.doc" target="_blank"><img src="FRUIT.JPG"></a><p></p>
<br>
 <a href="milk1.doc" target="_blank"><img src="MILK.JPG"></a><p></p>
				
        </div>

<div ng-include='"partials/news.html"'></div>
	
    	
</div>