<div class="container">
    <div class="col-md-12">
		<h2 class="page-header"><small>{{ 'COMPANY2' | translate }}</small></h2>
			<p>
			<h4>
				<ul>
				<li>Το πρώτο εργαστήριο ιδρύθηκε το 2005. Σήμερα λειτουργούν σε Ελλάδα, Κύπρο και Πολωνία:</li>
					<ul>
						<li>3 εργαστήρια μικροβιολογικών – χημικών – βιολογικών αναλύσεων σε Αθήνα, Κρήτη και Κύπρο,</li>
						<li>Τμήμα Εμπορίου Εξοπλισμού και Αναλωσίμων για βιομηχανία τροφίμων και εργαστήρια,</li>
						<li>Τμήμα Παραγωγής και Εμπορίας CRM και Κρίσιμων Υλικών (QUECHERS),</li>
						<li>Τμήμα Νομοθεσίας Τροφίμων και Ελέγχου Ετικετών</li>
						<li>Τμήμα Εκπαιδεύσεων & Σεμιναρίων</li>
					</ul><br>
				<li>Εγκεκριμένα πρότυπα και διαπιστεύσεις,</li>
					<ul>
						<li>Διαπίστευση εργαστηριακών δοκιμών κατά ISO17025 (αποκλειστικότητα σε κάποια είδη αναλύσεων) </li>
						<li>Διεθνές αναγνωρισμένο πρότυπο διαχείρισης της ποιότητας ΙSO9001 </li>
						<li>Αναγνωρισμένο εργαστήριο από την FEDIOL (Ευρωπαϊκή Ομοσπονδία Βιομηχανίας Ελαιοτριβείων) </li>
						<li>Αναγνωρισμένο εργαστήριο από την FIL-IDF (Παγκόσμια Ομοσπονδία Γαλακτοκομικών) κ.α. </li>
					</ul><br>
				<li>Τα εργαστήριά μας αποτελούνται από,</li>
					<ul>
						<li>Εξειδικευμένο επιστημονικό προσωπικό, υψηλού επιπέδου. Στελέχη της εταιρίας συμμετέχουν σε δραστηριότητες εθνικών και ευρωπαϊκών οργανισμών όπως, EFSA, CEN, ΒΕUC, TEE, ΕΛΟΤ, ΕΣΥΔ. </li>
						<li>Υπερσύγχρονο αναλυτικό εξοπλισμό (LC-MS/MS, ICP-OES, GC-ECD, GC-FID, HPLC, UV-VIS, PCR, Real Time PCR, Εlisa Reader, Tissue Lyser κ.ά.). </li>
						<li>Διαθέτοντας μεγάλη αναλυτική εμπειρία αναλαμβάνουμε πάνω από 12.000 δείγματα κάθε χρόνο. </li>
					</ul><br>
				<li>Οι μακροχρόνιες συνεργασίες σε Ελλάδα και εξωτερικό,</li>
					<ul>
						<li>Στηρίζονται, στην ποιότητα, την ταχύτητα και το ιδιαίτερα ανταγωνιστικό κόστος των υπηρεσιών μας, καθιστώντας μας μεταξύ των μεγαλύτερων και ταχύτερα αναπτυσσόμενων αναλυτικών εργαστηρίων, τροφίμων, ζωοτροφών, νερού και αποβλήτων. </li>
						<li>Ο αριθμός των πελατών-συνεργατών μας ξεπερνά σήμερα τους 2000, μεταξύ των οποίων βρίσκονται κατά κύριο λόγο αγροτικές, μεταποιητικές, εμπορικές επιχειρήσεις και μαζικής εστίασης, καθώς και εργαστήρια αναλύσεων, ΜΚΟ, ελεγκτικοί φορείς, επίσημες αρχές ελέγχου και ερευνητικά ιδρύματα. </li>
						<li>Επεκτείνονται σε όλες τις γεωγραφικές περιοχές Ελλάδας και Κύπρου και σε χώρες του εξωτερικού όπως,Μάλτα, Ιταλία, Ρουμανία, Πολωνία, Ιαπωνία, Ισπανία, Φιλανδία, Βουλγαρία, Τουρκία, Ολλανδία.</li>
					</ul>	<br>			
				<li>Εμπορικές συνεργασίες και διεθνείς δράσεις,</li>
					<ul>
						<li>Είμαστε αποκλειστικοί αντιπρόσωποι γνωστών οίκων παράγωγης αναλώσιμων και εξοπλισμού για τον έλεγχο ποιότητας όπως, NEOGEN, Biooscientific, Generon, Reagena, Envirologix, Biosan και Megazyme. </li>
						<li>Τα εργαστήρια μας συμμετέχουν σε πολλά Εθνικά, Ευρωπαϊκά και Διεθνή Ερευνητικά Προγράμματα.</li> 
						<li>Διοργανώνουμε και συμμετέχουμε τακτικά, σε Εθνικά και Διεθνή Επιστημονικά Συνέδρια, Ημερίδες, Εκθέσεις και Παρουσιάσεις που αφορούν Αγροδιατροφικά θέματα και Νομοθεσία Τροφίμων. </li>
					</ul>
				</ul>
			</h4>
			</p>
				
    </div>
</div>
	
    	
