<div class="container">
		<h2 class="page-header">
			<small>{{ 'CONTACT2' | translate }}</small>
		</h2>
	<div class="col-md-12">
	
			<p>
				<h4>
					<div ng-bind-html="'CONTACT2_DESC' | translate"></div>
				</h4>
			</p>	
</div>

<div class="col-md-6">
<h4>
<p>
Ιδρυτές και Γενικοί Διευθυντές :
</p>


<ul>
<li>	Βαρλάμος Ανδρέας,</li> Χημικός Μηχανικός ΕΜΠ, MSc Food Q.A. Reading/UK με 20ετή επαγγελματική εμπειρία 
[Λοιπές δραστηριότητες: τ.Πρόεδρος του Stakeholders Consultative Platform, τ.Εμπειρογνώμων της Ευρωπαϊκής Αρχής Ασφάλειας Τροφίμων (EFSA), Μέλος ομάδων εργασίας της ΕFSA (StaCG-Emerging Risks, Chemical Occurrence Data), Τέως Συμμετέχων ως: Επιμελητής της Επιστ. Επιτροπής Τροφίμων & Βιοτεχνολογίας του ΤΕΕ, Μέλος του Headline Food WG BEUC, της Εθνικής Επιτροπής Διατροφικής Πολιτικής, της Γ.Τ.Ε. Φορέων ΕΣΥΔ, της Τ.Ε. Τροφίμων ΕΛΟΤ και της Επιτροπής YAAT για το ΕΣΔ σχετικά με τη χρήση φυτοφαρμάκων κ.ά.]<br></br>
<li>	Σειραγάκης Γιώργος,</li> Χημικός, MSc QA με 25ετή επαγγελματική εμπειρία 
[Λοιπές δραστηριότητες: Μέλος του CEN/TC275 WG12,TAG3 (ISO για αλλεργιογόνα, παθογόνα), τ.Αξιολογητής του Εθνικού Συμβουλίου Διαπίστευσης (ΕΣΥΔ), αξιολογητής των Ευρωπαϊκών Προγραμμάτων Eurostars, Συντονιστής της Επιτροπής ΣΕΒΙΤΕΛ στην έκδοση Οδηγού Υγιεινής Ελαιολάδου, Εθνικός Εκπρόσωπος στην ΕΕ (ορισμένος από το ΣΕΒΤ) προς εφαρμογή της οδηγίας IPPC στη Βιομηχανία Τροφίμων, Reviewer του διεθνούς επιστημονικού περιοδικού JAOCS, τ.Μέλος του Ανώτατου Χημικού Συμβουλίου, τ.Μέλος της Οριζόντιας επιτροπής ΕΣΥΔ, του ΔΣ του Τμήματος Τροφίμων της ΕΕΧ, της Τ.Ε. Τροφίμων ΕΛΟΤ, κ.ά.]<br></br>

<li>	Δρ. Μηλιάδης Γιώργος(Τεχνικός Διευθυντής και Επικεφαλής Ερευνητής),</li> Δρ. Χημικός με 35 χρόνια επαγγελματική εμπειρία (30έτη ως Προϊστάμενος Εθνικού Εργαστηρίου Αναφοράς Υπολειμμάτων Γεωργικών Φαρμάκων του Μπενάκειου Φυτοπαθολογικού Ινστιτούτου)
[Λοιπές δραστηριότητες: Εμπειρογνώμων του Γραφείου Τροφίμων & Κτηνιατρικών (FVO) της Ευρωπαϊκής Επιτροπής, Αντιπρόεδρος τεχνικής επιτροπής και αξιολογητής του Ε.ΣΥ.Δ. για τη διαπίστευση σύμφωνα με τα πρότυπα ISO 17025 και ISO 17043, Εκπαιδευτής μεγάλου αριθμού εργαστηρίων σε πολλές χώρες σε θέματα προτύπων ποιότητας, αναλυτικών τεχνικών και επισήμων ελέγχων σε τρόφιμα, Εξουσιοδοτημένος Εκπαιδευτής Χημικής Μετρολογίας (TrainMic της Ευρωπαϊκής Επιτροπής), Εμπειρογνώμων της Ευρωπαϊκής Αρχής Ασφάλειας Τροφίμων (ΕFSA), Εμπειρογνώμων του TAIEX της Ευρωπαϊκής Επιτροπής, Κριτής διεθνών επιστημονικών περιοδικών, Πρόεδρος και μέλος επιστημονικών επιτροπών, περισσότερες από 190 δημοσιεύσεις σε έγκριτα διεθνή επιστημονικά περιοδικά, πλήθος δημοσιευμάτων σε συνέδρια και εισηγήσεις σεμιναρίων , εκδόσεις βιβλίων κ.α]
</h4>
</div>
<div class="col-md-6">
<h4>
<p>
Λοιπό επιστημονικό δυναμικό: 
</p>

<li>Αγγελογιαννάκης Γιάννης, Τεχνολόγος Γεωπόνος ΑΤΕΙ Κρήτης </li> <br>
<li>Αντωνοπούλου Ίριδα, Οικονομολόγος Παντείου Πανεπιστημίου Αθηνών </li> <br>
<li>Γαλάνης Νίκος, Γεωπόνος ΓΠΑ – Μ.Sc στη Χημεία Τροφίμων ΕΚΠΑ </li> <br>
<li>Γαλλιάκη Αννα, Χημικός Πανεπιστημίου Κρήτης </li> <br>
<li>Ειρήνη Λιόλιου, Γεωπόνος ΓΠΑ – M.Sc στην Τεχνολογία Τροφίμων</li> <br>
<li>Λαμπιδώνης Αντώνης, Μεταδιδακτορικός Γεωπόνος – Μοριακός Βιολόγος </li> <br>
<li>Παρασκευαΐδη Κλεοπάτρα, Γεωπόνος ΓΠΑ – M.Sc στην Τεχνολογία Τροφίμων </li> <br>
<li>Πολίτης Μανώλης, Βιολόγος Πανεπιστημίου Κρήτης – M.Sc στη Μοριακή Βιολογία </li> <br>
<li>Σαλασίδης Ελευθεριος, Τεχνολόγος Τροφίμων ΑΤΕΙ Θεσσαλίας </li> <br>
<li>Σπιθουράκη Φαίη, Τεχνολόγος Γεωπόνος ΑΤΕΙ Πελοποννήσου </li> <br>
<li>Τσελέπη Κατερίνα, Τεχνολόγος Τροφίμων ΑΤΕΙ Θεσσαλονίκης </li> <br>
<li>Τσιάντας Πέτρος, Γεωπόνος ΓΠΑ – M.Sc στις Αναλυτικές Τεχνικές Προσδιορισμού ΥΦΠ </li> <br>
<li>Τσίντζηρα Παναγιώτα, Λογιστής ΑΤΕΙ Χαλκίδας </li> <br>
<li>Χριστοδούλου Έλενα, Τεχνολόγος Τροφίμων ΑΤΕΙ Αθηνών </li> <br>
<li>Χριστοφάκης Μανώλης, Χημικός Πανεπιστημίου Κρήτης – M.Sc in Food Biotechnology Ulster University </li> <br>
</h4>

</div>
</div>
