<div class="container">
		<h2 class="page-header">
			<small>{{ 'CONTACT1' | translate }}</small>
		</h2>
		<div class="col-md-12">
				<p>
				<h3><b> Food Allergens Laboratory </b></h3>
					
				</p>
				<p>
					<h4>
						<div ng-bind-html="'CONTACT1_DESC' | translate"></div>
					</h4>
				</p>
		</div>

		<div class="col-md-6">
			<ul>

			<h4>

				
					<div ng-bind-html="'CONTACT1_1_DESC' | translate"></div>
				

			</h4>
				<hr>

				<a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
				<a href="#"><i class="fa fa-twitter fa-2x"></i></a>
				<a href="#"><i class="fa fa-google-plus fa-2x"></i></a>
			</ul>
		</div>
	
		<div class="col-md-6" my-map=""></div>


</div>
