<div class="container">
    <div class="col-md-12 BODY">
		<h2 class="page-header"><small>{{ 'NEWS7' | translate }}</small></h2>
			<p>
				<h4>
					<div ng-bind-html="'NEWS7_DESC' | translate"></div>
				</h4>
			</p>
<div class="col-md-12">
<br>

 			<div id=images >
				<img src="pics/news7_1.jpg" HEIGHT="200" >
				<img src="pics/news7_2.jpg" HEIGHT="200" >
			  	<img src="pics/news7_3.jpg" HEIGHT="200" >
				<img src="pics/news7_4.jpg" HEIGHT="200" >
			  	<img src="pics/news7_5.jpg" HEIGHT="200" >
			</div>
<br>
<br>

</div>
				
    </div>
</div>
	
    	
