<div class="container">
    <div class="col-md-12">
        <h2 class="page-header"><small>{{ 'SERVICES2' | translate }}</small></h2>
			<p>
				<h4>
					<div ng-bind-html="'SERVICES2_DESC' | translate"></div>
				</h4>
			</p>	

			  <div id="images">
			  	<img src="pics/services2_1.jpg" HEIGHT="150" >
				<img src="pics/services2_2.jpg" HEIGHT="150" >
			  	<img src="pics/services2_3.jpg" HEIGHT="150" >
				<img src="pics/services2_4.jpg" HEIGHT="150" >
			  	<img src="pics/services2_5.jpg" HEIGHT="150" >
			  	<img src="pics/services2_11.jpg" HEIGHT="150" >
			  </div>
			  <div id="images">
				<img src="pics/services2_6.jpg" HEIGHT="150" >
			  	<img src="pics/services2_7.jpg" HEIGHT="150" >
				<img src="pics/services2_8.jpg" HEIGHT="150" >
			  	<img src="pics/services2_9.jpg" HEIGHT="150" >
				<img src="pics/services2_10.jpg" HEIGHT="150" >
				<img src="pics/services2_12.jpg" HEIGHT="150" >
			  	<img src="pics/services2_13.jpg" HEIGHT="150" >
			  </div>
			<br>
			<br>	
    </div>
</div>
