
<nav class="navbar-inverse">

    <div class="container">
		<div class="myfooter">
			<p style='float: left;'>
			<i class="fa fa-copyright">Food Allergens Laboratory 2017. All Rights Reserved </i><br>
			</p>
			<img src="pics/logo/esyd.jpg" WIDTH="80" HEIGHT="40" style='float: right;'>
			<img src="pics/logo/ILAC logo.jpg" WIDTH="40" HEIGHT="40" style='float: right;'>			
			<img src="pics/logo/iooc.jpg" WIDTH="40" HEIGHT="40" style='float: right;'>
			<img src="pics/logo/eoflogo.jpg" WIDTH="80" HEIGHT="40" style='float: right;'>
			<img src="pics/logo/fruitmonitoring.png" WIDTH="110" HEIGHT="40" style='float: right;'>
			<img src="pics/logo/IDF-logo_gif.jpg" WIDTH="50" HEIGHT="40" style='float: right;'>
			<img src="pics/logo/FEDIOL.jpg" WIDTH="80" HEIGHT="40" style='float: right;'>
		</div>			

	</div>
</nav>
