
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    
    <div class="container">

	<div class="col-md-12" ng-controller="PageCtrl">
	
        <div  class="navbar-header">
	   
              <div class="ng-scope" >
		<a href="#!/{{lng}}/home"">
		<img WIDTH="135" HEIGHT="63" src="pics/logo.jpg"/>
		</a>
                <!--img WIDTH="25" HEIGHT="25" src="pics/uk-flag.png" ng-click="changeLanguage('en')" />
		<img WIDTH="25" HEIGHT="25" src="pics/greece-flag.png" ng-click="changeLanguage('el')" />
                <img WIDTH="25" HEIGHT="25" src="pics/poland-flag.png" ng-click="changeLanguage('pl')" /-->
								
              </div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right dropdown">
                <li><a href="#!/{{lng}}/home">{{ 'HOME' | translate }}</a>
                </li>
                <li><a class="dropdown-toggle" data-toggle="dropdown" href="#!/company">{{ 'COMPANY' | translate }}<b class="caret"></b></a>
					<ul class="dropdown-menu">
					  <li><a href="#!/{{lng}}/company1">{{ 'COMPANY1' | translate }}</a></li>
					  <li><a href="#!/{{lng}}/company2">{{ 'COMPANY2' | translate }}</a></li>
					  <li><a href="#!/{{lng}}/company3">{{ 'COMPANY3' | translate }}</a></li>
					  <li><a href="#!/{{lng}}/company4">{{ 'COMPANY4' | translate }}</a></li>
					</ul>				
                </li>				
				<li><a class="dropdown-toggle" data-toggle="dropdown" href="#!/news">{{ 'NEWS' | translate }}<b class="caret"></b></a>
					<ul class="dropdown-menu">
					  <li><a href="#!/{{lng}}/news0">{{ 'NEWS0' | translate }}</a></li>
					  <li><a href="#!/{{lng}}/news1">{{ 'NEWS1' | translate }}</a></li>
					  <li><a href="#!/{{lng}}/news2">{{ 'NEWS2' | translate }}</a></li>
					  <li><a href="#!/{{lng}}/news3">{{ 'NEWS3' | translate }}</a></li>
					  <li><a href="#!/{{lng}}/news4">{{ 'NEWS4' | translate }}</a></li>
					  <li><a href="#!/{{lng}}/news5">{{ 'NEWS5' | translate }}</a></li>	
					  <li><a href="#!/{{lng}}/news6">{{ 'NEWS6' | translate }}</a></li>
					  <li><a href="#!/{{lng}}/news7">{{ 'NEWS7' | translate }}</a></li>				  
					</ul>
                </li>
                <li><a class="dropdown-toggle" data-toggle="dropdown" href="#!/services">{{ 'SERVICES' | translate }}<b class="caret"></b></a>
					<ul class="dropdown-menu">
					  <li><a href="#!/{{lng}}/services1">{{ 'SERVICES1' | translate }}</a></li>
					  <li><a href="#!/{{lng}}/services2">{{ 'SERVICES2' | translate }}</a></li>
					  <li><a href="#!/{{lng}}/services3">{{ 'SERVICES3' | translate }}</a></li>
					  <li><a href="#!/{{lng}}/services4">{{ 'SERVICES4' | translate }}</a></li>
					  <li><a href="#!/{{lng}}/services5">{{ 'SERVICES5' | translate }}</a></li>
					  <li><a href="#!/{{lng}}/services6">{{ 'SERVICES6' | translate }}</a></li>	
					  					  
					</ul>					
                </li>
				<li><a class="dropdown-toggle" data-toggle="dropdown" href="#!/certification">{{ 'CERTIFICATION' | translate }}<b class="caret"></b></a>
					<ul class="dropdown-menu">
					  <li><a href="#!/{{lng}}/certification1">{{ 'CERTIFICATION1' | translate }}</a></li>
					  <li><a href="#!/{{lng}}/certification2">{{ 'CERTIFICATION2' | translate }}</a></li>
					  <li><a href="#!/{{lng}}/certification3">{{ 'CERTIFICATION3' | translate }}</a></li>
					  <li><a href="#!/{{lng}}/certification4">{{ 'CERTIFICATION4' | translate }}</a></li>
					  <li><a href="#!/{{lng}}/certification5">{{ 'CERTIFICATION5' | translate }}</a></li>
					  <li><a href="#!/{{lng}}/certification6">{{ 'CERTIFICATION6' | translate }}</a></li>	
					  <li><a href="#!/{{lng}}/certification7">{{ 'CERTIFICATION7' | translate }}</a></li>
					  <li><a href="#!/{{lng}}/certification8">{{ 'CERTIFICATION8' | translate }}</a></li>				  
					</ul>				
                </li>							
				<li><a class="dropdown-toggle" data-toggle="dropdown" href="#!/contact">{{ 'CONTACT' | translate }}<b class="caret"></b></a>
					<ul class="dropdown-menu">
					  <li><a href="#!/{{lng}}/contact1">{{ 'CONTACT1' | translate }}</a></li>
					  <li><a href="#!/{{lng}}/contact2">{{ 'CONTACT2' | translate }}</a></li>
					  <li><a href="#!/{{lng}}/contact3">{{ 'CONTACT3' | translate }}</a></li>					  
					</ul>					
                </li>

			
		<li>
		        <img WIDTH="25" HEIGHT="25" src="pics/uk-flag.png" ng-click="changeLanguage('en')" style="margin: 10px 3px 0px 80px; cursor:pointer;" />
			<img WIDTH="25" HEIGHT="25" src="pics/greece-flag.png" ng-click="changeLanguage('el')" style="margin: 10px 3px 0px 3px; cursor:pointer;"/>
		        <img WIDTH="25" HEIGHT="25" src="pics/poland-flag.png" ng-click="changeLanguage('pl')" style="margin: 10px 3px 0px 3px; cursor:pointer;"/>
		</li>			
            </ul>
	 </div>

        </div>
    </div>
	</div>
    <!-- /.container -->
</nav>
